tr:nth-child(2n) {
  background-color: #e5e5e5;
}

td.vwbar, th.vwbar {
  white-space: pre-wrap;
}

td.vbar, th.vbar {
  vertical-align: top;
}

td.vbbar, th.vbar {
  vertical-align: top;
}

td {
  white-space: nowrap;
}

td span.better {
  background-color: #57ab57;
  color: white;
  font-size: small;
  padding: 0 3px;
}

td span.worse {
  background-color: #ff8686;
  color: white;
  font-size: small;
  padding: 0 3px;
}

td input[type=number] {
  width: 60px;
}

td input[type=number].weight {
  width: 43px;
}

td textarea.custom_comment {
  width: 100%;
}

td.table-cell{
  border-left: solid 1px #bdc7d8;
}

.sticky {
  position: sticky;
  top: 0;
  padding: 5px;
  background: #cafaff;
  border: 1px solid #a7a7a7;
  border-collapse: collapse;
}

.first-header-row {
  position: sticky;
  top: 0px;
  background: #bdc7d8;
}

.second-header-row {
  position: sticky;
  top: 23px;
  background: #d3ddee;
}

div.error {
  background-color: yellow;
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 10px;
}

div.success {
  background-color: #95ffb5;
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 10px;
}

div.control-element {
  margin-bottom: 6px;
}