td.vbbar, th.vbar {
    text-align: right;
    border-left: solid 1px #bdc7d8;
    color: blue;
}

td.vwlbar, th.vwlbar {
    text-align: left;
    border-left: solid 1px white;
}

p.blue {
    color: blue
}

.bubble {
    background-color: #C3D9FF
}

/*
New css is placed above
 */

table.highlighted {
    border-color: #bdc7d8;
}

table.highlighted tbody tr:nth-child(2n+1) {
    background-color: white;
}

table.highlighted tbody tr:nth-child(2n) {
    background-color: #e5e5e5;
}

table.highlighted thead tr {
    background-color: #bdc7d8;
}

table.highlighted tbody tr:hover {
    background-color: #cedbf3;
    border-bottom: 1px dotted #999;
}

table.highlighted td.vwbar, th.vwbar {
    white-space: pre-wrap;
    text-align: center;
}

table.highlighted td.vbar, th.vbar {
    vertical-align: top;
    text-align: right;
}

table.highlighted thead th {
    border-left: solid 1px #e5e5e5;
}
table.highlighted td.vbbar, th.vbar {
    vertical-align: top;
}

table.highlighted tbody td {
    white-space: nowrap;
    border-left: solid 1px #bdc7d8;
}

td span.better {
    background-color: #8aba83;
    color: white;
    font-size: small;
    padding: 0 3px;
}

table.highlighted tbody td span.worse {
    background-color: #fba2a2;
    color: white;
    font-size: small;
    padding: 0 3px;
}

table.highlighted tbody td input[type=number] {
    width: 60px;
}

table.highlighted tbody td input[type=number].weight {
    width: 43px;
}

table.highlighted tbody td textarea.custom_comment {
    width: 100%;
}

table.highlighted tbody td.table-cell {
    border-left: solid 1px #bdc7d8;
}

.sticky {
    position: sticky;
    top: 0;
    padding: 5px;
    background: #cafaff;
    border: 1px solid #a7a7a7;
    border-collapse: collapse;
}

.first-header-row {
    position: sticky;
    top: 29px;
    background: #bdc7d8;
    white-space: nowrap!important;
}

.second-header-row {
    position: sticky;
    top: 51px;
    background: #d3ddee;
}

div.error {
    background-color: yellow;
    border: 1px solid grey;
    padding: 5px;
    margin-bottom: 10px;
}

div.success {
    background-color: #95ffb5;
    border: 1px solid grey;
    padding: 5px;
    margin-bottom: 10px;
}

div.control-element {
    margin-bottom: 6px;
}

td.left-separator, th.left-separator {
    border-left: 2px solid #3a3a3a!important;
}

.quite-url {
    text-decoration: none;
}

.vbar .quite-url {
    color: black;
}

th.sorted {
    background-color: yellow;
}

td.sorted {
    color: #0000FF;
}

span.sorted {
    color: #6952cf;
}

.highlighted td:hover {
    background-color: #fffb2f;
}

.footer {
    background-color: #f1f3f4;
    border: 1px solid grey;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

.run-value {
    font-family: monospace;
    font-weight: normal;
    font-size: 14px
}